@import '@fontsource/fira-mono';

:root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;

    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --validate-bg: hsl(200, 75%, 65%);
    --success-bg: hsl(115, 90%, 45%);
    --warning-bg: hsl(30, 91%, 61%);
    --danger-bg: hsl(0, 75%, 64%);
    --disabled-bg: hsl(0, 0%, 90%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);

    --progress-bar: hsl(200, 35%, 35%);
    --progress-bar-bg: #7ab0e2;

    --column-width: 42rem;
    --column-margin-top: 4rem;

    --nav-background: rgb(240, 244, 247);
    --nav-height: 4rem;

    --modal-background: rgb(240, 244, 247);

    --icon-fill: rgba(0, 0, 0, 0.7);
    --icon-fill-hover: rgba(0, 0, 0, 0.6);

    font-family: var(--font-body);
    color: var(--color-text);
}

[data-dark-mode]:root {
    --color-bg-0: hsl(240, 15%, 13%);
    --color-bg-1: hsl(240, 15%, 12%);
    --color-bg-2: hsl(240, 15%, 8%);
    --validate-bg: hsl(200, 35%, 35%);
    --success-bg: hsl(115, 90%, 30%);
    --warning-bg: hsl(30, 87%, 34%);
    --danger-bg: hsl(0, 83%, 25%);
    --disabled-bg: hsl(0, 0%, 40%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #7ab0e2;
    --color-text: rgba(255, 255, 255, 0.8);

    --progress-bar: #7ab0e2;
    --progress-bar-bg: hsl(200, 35%, 35%);

    --nav-background: hsl(240, 15%, 6%);

    --modal-background: hsl(240, 15%, 10%);

    --icon-fill: rgba(255, 255, 255, 0.8);
    --icon-fill-hover: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

[data-dark-mode] body {
    background-image: linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--color-theme-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 600px) {
    :root {
        --nav-height: 3rem;
    }

    h1 {
        font-size: 2.4rem;
    }
}

/***********/
/* Ripples */
/***********/

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

*:has(> span.ripple) {
    position: relative;
    overflow: hidden;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/**********/
/* Modals */
/**********/


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* allow click-through to backdrop */
    pointer-events: none;
}

.modal > .contents {
    min-width: 90vw;
    max-width: 90vw;
    border-radius: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 0;
    background: var(--modal-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
}

[data-dark-mode] .modal > .contents {
    border: solid 1px rgba(255, 255, 255, 0.05)
}

.modal > .contents > h2 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal > .contents > hr {
    margin: 0;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); 
}

[data-dark-mode] .modal > .contents > hr {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.modal > .contents > .actions {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.modal > .contents > .actions > button {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    color: var(--text-color);
    transition: background 500ms linear;
    cursor: pointer;
}

.modal > .contents > .actions > button.cancel {
    background: var(--validate-bg);
}

.modal > .contents > .actions > button.cancel:hover {
    background: color-mix(in srgb, var(--validate-bg), rgb(0, 0, 0) 15%);
}

[data-dark-mode] .modal > .contents > .actions > button.cancel:hover {
    background: color-mix(in srgb, var(--validate-bg), rgb(255, 255, 255) 20%);
}

.modal > .contents > .actions > button.validate {
    background: var(--success-bg);
}

.modal > .contents > .actions > button.validate:disabled {
    background: var(--disabled-bg);
    cursor: unset;
}

.modal > .contents > .actions > button.validate:enabled:hover {
    background: color-mix(in srgb, var(--success-bg), rgb(0, 0, 0) 15%);
}

[data-dark-mode] .modal > .contents > .actions > button.validate:enabled:hover {
    background: color-mix(in srgb, var(--success-bg), rgb(255, 255, 255) 20%);
}

.modal > .contents > .actions > button.delete {
    background: var(--danger-bg);
}

.modal > .contents > .actions > button.delete:hover {
    background: color-mix(in srgb, var(--danger-bg), rgb(0, 0, 0) 15%);
}

[data-dark-mode] .modal > .contents > .actions > button.delete:hover {
    background: color-mix(in srgb, var(--danger-bg), rgb(255, 255, 255) 15%);
}

@media (min-width: 600px) {
    .modal > .contents {
        min-width: 400px;
        max-width: 600px;
    }
}